*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: auto;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

html,
body,
.container {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contentwrapper {
      gap: 100px;
      display: flex;
      max-width: 1000px;
      width: 100%;
      justify-content: center;
      align-items: center;
}

/* NAVBAR SECTION */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 25px 0px 50px;
}
.navbarcontent {
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}
header {
    font-size: 24px;
    color: #f9faf8;
}

.header-links>ul,
a {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

/* HERO SECTION */

.herocontainer {
    display: flex;
    justify-content: center;
    height: 40vh;
    background-color: #1F2937;
    align-items: center;
}

#heroimg {
    border-radius: 20px;
    max-width: 100%;
}

#welcometext {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

#subwelcometext {
    font-size: 18px;
    color: #E5E7EB;
}

/* HERO SIGNUP BUTTON */

#herobutton {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 30px;
    border: solid 2px #3882F6;;
    color: white;
    font-weight: 500;
    margin-top: 10px;
}

#herobutton:hover{
    background-color: #3068c4;
    border-radius: 8px;
    padding: 5px 30px;
    border: solid 2px #3068c4;
    color: white;
    font-weight: 500;
}

#herobutton:active {
    background-color:#3882F6;
    border-radius: 8px;
    padding: 5px 30px;
    border: solid 2px #3882F6;
    color: white;
    font-weight: 500;
}

/* FAVORITE PHOTO SECTION */

.picturescontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#infoheader {
    font-size: 36px;
    color: #1F2937;
}
.picimg {
    height: 200px;
    width: 200px;
    border: solid #3382f6;
    border-radius: 30px;
}

.imgcontainer {
    display: flex;
    padding: 25px;
    justify-content: center;
    color: #77797b;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    text-align: center;
    padding: 25px;
}

.card > p {
    padding: 5px;
}

/* CRINGE QUOTE SECTION */

.quotecontainer {
    padding: 100px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 36px;
    color: #1f2937e5;
}

.actualquote {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 100px;;
    width: 1000px;
}

#attribution {
    color: #000000;
    font-size: 75%;
    font-style: normal;
    text-decoration: underline;
}

/* SIGNUP SECTION */

.signupcontainer {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px 125px;
    margin: 100px auto;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    color: white;
}

#ctatext {
    font-weight: 900;
    font-size: 18px;
}

#signtext {
    font-weight: 100;
    font-size: 15px;
    color: #E5E7EB;
}

/* CTA SIGNUP BUTTON */

#signup {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 30px;
    border: solid 2px white;
    color: white;
    font-weight: 500;
}

#signup:hover{
    background-color: #3068c4;
    border-radius: 8px;
    padding: 5px 30px;
    border: solid 2px white;
    color: white;
    font-weight: 500;
}

#signup:active {
    background-color:#3882F6;
    border-radius: 8px;
    padding: 5px 30px;
    border: solid 2px white;
    color: white;
    font-weight: 500;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background: #1F2937;
    color: #f9faf8;
    padding: 15px;
}